
body { 
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    color: #333; 
    padding: 20px; 
    text-align: center; 
} 


h1, h2 { 
    color: #b8860b; 
    text-transform: uppercase; 
} 


table { 
    margin: 0 auto; 
    width: 60%; 
    border-collapse: collapse; 
    background-color: white; 
} 

th { 
    background-color: #000; 
    color: white; 
    padding: 10px; 
} 

td { 
    border: 1px solid #ddd; 
    padding: 8px; 
} 


button { 
    background-color: #004d98; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
}

